<div class="row mt-5">
  <div class="col-md-12">
    <div class="jumbotron bg-warning">
      <p class="lead">Welcome to</p>
      <h1 class="display-3">Macro Marketing</h1>
      <p class="lead mt-5">
        <%= link_to "New Customer", new_admin_customer_path, class: 'btn btn-sm btn-outline-danger' %>
      </p>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card border-success">
      <div class="card-body">
        <p class="card-text">Total Customer</p>
        <h4 class="card-title"><%= @customers.count %></h4>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card border-success">
      <div class="card-body">
        <p class="card-text">Total Division</p>
        <h4 class="card-title"><%= @divisions.count %></h4>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card border-success">
      <div class="card-body">
        <p class="card-text">Total Districts</p>
        <h4 class="card-title"><%= @districts.count %></h4>
      </div>
    </div>
  </div>
</div>