<div class="row d-flex justify-content-center my-5">
  <div class="col-md-5">
    <%= form_for([:admin, @customer]) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Full Name' %>
      </div>
      <div class="form-group">
        <%= f.label :mobilenumber %></br>
        <%= f.text_field :mobilenumber, class: 'form-control', placeholder: 'Mobile Number' %>
      </div>
      <div class="form-group">
        <%= f.label :urgentnumber %></br>
        <%= f.text_field :urgentnumber, class: 'form-control', placeholder: 'Urgent Contact Number' %>
      </div>

      
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :division %> </br>
            <%#= f.collection_radio_buttons :division_id, Division.all, :id, :name %>
            <%= f.collection_select(:division_id, Division.all, :id, :name, {:prompt => "Select your division"}, {}) %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :district %>
            <%#= f.collection_radio_buttons :division_id, Division.all, :id, :name %>
            <%= f.collection_select(:district_id, District.all, :id, :name, {:prompt => "Select your District"}, {}) %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :presentaddress %></br>
        <%= f.text_area :presentaddress, class: 'form-control', placeholder: 'Present Address' %>
      </div>
      <div class="form-group">
        <%= f.label :permanentadress %></br>
        <%= f.text_area :permanentaddress, class: 'form-control', placeholder: 'Permanent Address' %>
      </div>

      <%= f.submit(@customer.new_record? ? "Submit" : "Update", class: 'btn btn-sm btn-outline-success') %>
      <%= link_to 'Cancle', admin_customers_path, class: 'btn btn-sm btn-outline-danger' %>
    <% end %>
  </div>
</div>