<div class="row my-5">
  <div class="col-md-12">
    <h1>All Customers</h1>

    <table class="table table-condensed table-sm table-striped table-bordered">
      <thead>
        <tr>
          <th class="fs-xs">Full Name</th>
          <th class="fs-xs">Division</th>
          <th class="fs-xs">Mobile Number</th>
          <th class="fs-xs">Present Address</th>
          <th class="fs-xs">Permanent Address</th>
          <th class="fs-xs">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td class="fs-xs"><%= customer.name %></td>
          <td class="fs-xs"><%= customer.division.name %></td>
          <td class="fs-xs"><%= customer.mobilenumber %></td>
          <td class="fs-xs"><%= customer.presentaddress %></td>
          <td class="fs-xs"><%= customer.permanentaddress %></td>
          <td class="fs-xs">
            <%= link_to 'View', admin_customer_path(customer), class: 'btn btn-sm btn-outline-info' %>
            <%= link_to 'Edit', edit_admin_customer_path(customer), class: 'btn btn-sm btn-outline-info' %>
            <%= link_to 'Delete', admin_customer_path(customer), class: 'btn btn-sm btn-outline-danger', method: :delete, data: {Confirm: "Are you sure?"} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>