<div class="row my-5">
  <div class="col-md-12">
    <h4 class="card-title">Customer Details</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag  "city-man-person-people-35183.jpg", class: 'img-fluid' %>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-4">Name:</dt>
          <dd class="col-sm-8"><%= @customer.name %></dd>

          <dt class="col-sm-4">Division:</dt>
          <dd class="col-sm-8"><%= @customer.division.name %></dd>

          <dt class="col-sm-4">District:</dt>
          <dd class="col-sm-8"><%= @customer.district.name %></dd>

          <dt class="col-sm-4 text-truncate">Mobile:</dt>
          <dd class="col-sm-8"><%= @customer.mobilenumber %></dd>

          <dt class="col-sm-4">Urgent Contact:</dt>
          <dd class="col-sm-8"><%= @customer.urgentnumber %></dd>

          <dt class="col-sm-4">Present Address:</dt>
          <dd class="col-sm-8"><%= @customer.presentaddress %></dd>

          <dt class="col-sm-4">Permanent Address:</dt>
          <dd class="col-sm-8"><%= @customer.presentaddress %></dd>
        </dl>
      </div>
    </div>
  </div>  
</div>