@import './bootstrap_custom.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap');


body{font-family: 'Nunito', sans-serif;}




// Custom Font Size
.fs-xs{font-size: 14px;}