<div class="row d-flex justify-content-center my-5">
  <div class="col-md-5">
    <h3 class="mb-5">Create New Division</h3>
    <%= form_for([:admin, @division]) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Full Name' %>
      </div>

      <%= f.submit(@division.new_record? ? "Submit" : "Update", class: 'btn btn-sm btn-outline-success') %>
      <%= link_to 'Cancle', admin_divisions_path, class: 'btn btn-sm btn-outline-danger' %>
    <% end %>
  </div>
</div>