<div class="row mt-5">
  <div class="col-md-12">
    <h1>All Divisions</h1>

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Division Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @divisions.each do |division| %>
        <tr>
          <td scope="row"><%= division.name %></td>
          <td class="float-right">
            <%= link_to 'View', admin_division_path(division), class: 'btn btn-sm btn-outline-success'  %>
            <%= link_to 'Edit', edit_admin_division_path(division), class: 'btn btn-sm btn-outline-info' %>
            <%= link_to 'Delete', admin_division_path(division), class: 'btn btn-sm btn-outline-danger', method: :delete, data: {Confirm: "Are you sure?"} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>