<div class="row mt-5">
  <div class="col-md-4">
    <h4 class="card-title">Division Details</h4>
  </div>
  <div class="col-md-8">
    <h4 class="card-title">Divisions Under <%= @division.name %></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card border-primary">
      <div class="card-body">
        <h3><%= @division.name %></h3>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <dl class="row">
          <dd class="col-sm-8">
            <% @division.districts.each do |divdis| %>
              <span class="badge badge-success">
                <%= divdis.name %>
              </span>
            <% end %>
          </dd>
        </dl>
      </div>
    </div>
  </div>  
</div>