<div class="row d-flex justify-content-center my-5">
  <div class="col-md-5">
    <h3 class="mb-5">Create New District</h3>
    <%= form_for([:admin, @district]) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Full Name' %>
      </div>
      <div class="form-group">
        <label for="">Division</label>
        <%#= f.collection_radio_buttons :division_id, Division.all, :id, :name %>
        <%= f.collection_select(:division_id, Division.all, :id, :name, {:prompt => "Select your division"}, {}) %>
      </div>

      <%= f.submit(@district.new_record? ? "Submit" : "Update", class: 'btn btn-sm btn-outline-success') %>
      <%= link_to 'Cancle', admin_districts_path, class: 'btn btn-sm btn-outline-danger' %>
    <% end %>
  </div>
</div>