<div class="row mt-5">
  <div class="col-md-12">
    <h1>All Districts</h1>

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>District Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @districts.each do |district| %>
        <tr>
          <td scope="row"><%= district.name %></td>
          <td>
            <%= link_to 'Edit', edit_admin_district_path(district), class: 'btn btn-sm btn-outline-info' %>
            <%= link_to 'Delete', admin_district_path(district), class: 'btn btn-sm btn-outline-danger', method: :delete, data: {Confirm: "Are you sure?"} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>