<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
  <div class="container">
    <%= link_to "Macro Marketing", admin_dashboard_path, class: 'navbar-brand' %>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <%= link_to "Dashboard", admin_dashboard_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Customers</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <%= link_to "All Customers", admin_customers_path, class: 'dropdown-item' %>
            <%= link_to "Create Customer", new_admin_customer_path, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Divisions</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <%= link_to "All Divisions", admin_divisions_path, class: 'dropdown-item' %>
            <%= link_to "Create Divisions", new_admin_division_path, class: 'dropdown-item' %>
            <%= link_to "All Districts", admin_districts_path, class: 'dropdown-item' %>
            <%= link_to "Create District", new_admin_district_path, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
