<!DOCTYPE html>
<html>
  <head>
    <title>Macrom-Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/admin/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
